<div class="sidebar">
    <nav class="sidebar-nav">
        <ul class="nav">
            <li class="nav-item">
                <a class="nav-link" href="/"><i class="icon-speedometer"></i> Управление</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/editor"><i class="icon-calculator"></i> Конструктор</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/users"><i class="icon-user"></i> Пользователи</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/bot"><i class="icon-game-controller"></i> Боты</a>
            </li>
        </ul>
    </nav>
</div>